* {
    box-sizing: border-box;
}

/* Style the body */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */

.header {
    padding: 25px;
    text-align: center;
    background: #70D4C0;
    color: black;
}

/* Increase the font size of the heading */

.header h1 {
    font-size: 50px;
}

.header h2 {
    font-size: 30px;
}



/* Style the top navigation bar */

.navbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the navigation bar links */

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */

.navbar a.right {
    float: right;
}

/* Change color on hover */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Bottom navbar */

.bottomnavbar {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottomnavbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */



/* Change color on hover */

.bottomnavbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */

/* Main column */

.main {
    -ms-flex: 100%;
    /* IE10 */
    flex: 100%;
    background-color: rgb(255, 255, 255);
    padding: 100px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #70D4C0;
    width: 100%;
    position: fixed;
    bottom: -20px;
    overflow: hidden;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
	}
    .main{
        padding: 10px;
	}
	.row {
        
		
		
		
		grid-template-columns: repeat(2,1fr);
		
        
	}
	
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	
	.card {
		text-align: center;
		font-family: Arial;
		border:1px solid black;
		color: black;
		padding: 30px;
		padding-bottom: 16px;
		background-color: #70D4C0;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		border-radius: 5px;
	}
	
	
	.column {
		float: left;
		width: 20%;
		padding-bottom: 15px;
		margin-left:50px;
	}
	
	
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	}
	
    
}
/* Responsive layout - when the screen is more than 1000px wide */

@media screen and (min-width: 1000px) {
    .container {
        width: 50%;
        margin: auto;
	}
    .main{
        padding: 30px;
	}
    .row {
        
		
		
		
        grid-template-columns: repeat(4,1fr);
        
		
	}
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	
	.card {
		text-align: center;
		font-family: Arial;
		border:1px solid black;
		color: black;
		padding: 30px;
		padding-bottom: 16px;
		background-color: #70D4C0;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		border-radius: 5px;
	}
	
	
	.column {
		float: left;
		width: 20%;
		padding-bottom: 15px;
		margin-left:50px;
	}
	.column1 {
		float: left;
		width: 25%;
		padding-bottom: 15px;
		margin-left:90px;
	}
	
	
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	}
    
}

img {
	width: auto;
	height: auto;
	max-width: 500px;
	border-radius: 5px;
}

input[type=text], input[type=number], input[type=tel],input[type=password], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=submit] {
	background-color: #70D4C0;
	color: black;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	width: 100%;
}

input[type=submit]:hover {
	background-color: #D3D3D3;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.col-25 {
	float: left;
	width: 30%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 70%;
	margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

.card {
	text-align: center;
	font-family: Arial;
	border:1px solid black;
	color: black;
	padding: 30px;
	padding-bottom: 16px;
	background-color: #70D4C0;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
}


.column {
	float: left;
	width: 20%;
	padding-bottom: 20px;
	margin-left:60px;
	margin-top: 30px;
	
}
.column1 {
    float: left;
    width: 25%;
    padding-bottom: 15px;
    margin-left:90px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}


.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 30px;
	right: 35px;
	background-color: #D3D3D3;
	color: black;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
}

.my-float {
	margin-top: 25px;
}
.float .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}
.float .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
.float:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.col-25, .col-75, input[type=submit] {
	width: 100%;
	margin-top: 0;
}

.imgselection {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    border: 3px solid black;
}

button[type=submit] {
    background-color: #70D4C0;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-top: 8px;
	margin-left:-200px;
}
